# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose*.yml
Dockerfile
.dockerignore

# Documentation
README.md
*.md

# IDE
.vscode
.idea
*.swp
*.swo

# Node
node_modules
npm-debug.log
yarn-error.log

# PHP
vendor

# Laravel
.env
.env.backup
.env.production
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*

# OS
.DS_Store
Thumbs.db

# Tests
tests
phpunit.xml
.phpunit.result.cache

# CI/CD
.github
.gitlab-ci.yml

code/api/vendor
code/api/.env
code/api/bootstrap/cache/*.php
code/api/storage/*.log
code/api/storage/framework/cache/*
code/api/storage/framework/sessions/*
code/api/storage/framework/views/*
code/api/database/database.sqlite
code/webapp/node_modules
code/webapp/.env
code/webapp/.env.example
